
poc/notebook/model/\.ipynb_checkpoints/MarkovChain-checkpoint\.ipynb

poc/data/

poc/notebook/model/\.ipynb_checkpoints/

poc/notebook/eda/\.ipynb_checkpoints/

poc/model/=1\.7\.0

poc/model/dask-worker-space/

poc/src/__pycache__/

\.idea/

clustinator/__pycache__/
